<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title - Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<body>
    <div class="container">
        <!-- Title Section -->
        <h1 class="logo-header">
            <span class="logo-q-wrapper">
                <img src="{{ url_for('static', filename='img/quarknotes_logo_lime.svg') }}" alt="QuarkNotes Logo" class="logo-q" />
            </span>
            uarkNotes
        </h1>
        <p class="welcome-description">Your personal audio tutor</p>

        <!-- Main Features Section -->
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 mb-4 d-flex">
                <a href="/new_entry" class="clickable-card w-100">
                    <div class="card shadow-sm feature-card">
                        <div class="card-body text-center">
                            <div class="card-body-icon">➕</div>
                            <h5 class="card-title">Add Note</h5>
                            <p class="card-text">Create a new recording.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4 d-flex">
                <a href="/note_gallery" class="clickable-card w-100">
                    <div class="card shadow-sm feature-card">
                        <div class="card-body text-center">
                            <div class="card-body-icon">📁</div>
                            <h5 class="card-title">Note Gallery</h5>
                            <p class="card-text">Browse your saved notes, search and manage them easily.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!-- Recent Notes Section -->
        <div class="row mb-5">
            <div class="col-md-12">
                <h3>Recent Notes</h3>
                <div class="card-deck">
                    {% if recent_notes %}
                        {% for note in recent_notes %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">{{ note.title }}</h5>
                                    <div>
                                        <!-- Display Tags -->
                                        {% for tag in note.tags %}
                                            <span class="badge badge-primary">{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                    <p class="card-text"><small class="text-muted">Last updated {{ note.datetime }}</small></p>
                                    <a href="/view_entry/{{ note.id }}" class="btn btn-primary">View Note</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No recent notes available.</p>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/background.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
